<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{username}" id="name" required>
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age" required>
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Введите электронную почту: </label>
    <input type="text" th:field="*{email}" id="email" required>
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error</div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password" required>
    <div style="color: mediumvioletred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="role">Выберите роли: </label>
    <select th:field="*{roles}" id="role" required multiple>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <br/>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<a href="/admin" class="btn">Назад</a>

</body>
</html>